@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: Monserrat;
  src: url('../../public/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Monserrat-Bold;
  src: url('../../public/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Monserrat-Medium;
  src: url('../../public/fonts/montserrat/Montserrat-Medium.ttf');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Monserrat;
}

.bg-footer-accent {
  background-color: #003566;
}

.bg-secondary-bg {
  background-color: #001D3D;
}

.bg-main-accent {
  background-color: #ffc300;
}

#detail-html {
  strong {
    color: #FFC300;
    font-weight: 700;
  }

  ul {
    list-style-type: circle;

    li {
      margin-left: 24px;
    }
  }
}

.image-placeholder::before {
  content: ' ';
  display: block;
  height: 150px;
  width: 150px;
  background-image: url('../../public/images/image-placeholder.png');
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}